@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/free-mode';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/grid';
@import 'swiper/css/effect-fade';
@import 'swiper/css/autoplay';
@import 'swiper/css/effect-coverflow';

@theme {
    --color-gold: #D29A5A;
    --color-dark: #130F0C;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-overlay-background: rgba(19, 15, 12, 0.8);
    --font-poppins: 'Poppins', sans-serif;
    /* --inset-shadow-sm: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6); */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    background-color: var(--color-dark)
}



@layer utilities {
    .section-padding {
        @apply py-30;
    }

    .sidebar {
        @apply fixed top-0 left-0 h-screen z-100 bg-overlay-background border-r-6 border-gold;
    }

    .smooth-transition {
        @apply transition-all duration-300 ease-in-out;
    }

    .scale-up {
        @apply hover:scale-110;
    }

    .product-swiper-container {
        @apply relative;
    }

    .product-swiper .swiper-pagination {
        @apply static mt-8;
    }

    .custom-bullet {
        @apply bg-white/50 opacity-100 w-3 h-3 mx-[6px] transition-all duration-300 ease-in-out;
    }

    .custom-bullet-active {
        @apply bg-[#d4af37] scale-110;
    }

    .custom-bullet:hover {
        @apply bg-[rgba(212, 175, 55, 0.7)];
    }

    .swiper-button-disabled {
        @apply opacity-50 cursor-not-allowed;
    }


}